<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/orm_2027?createDatabaseIfNotExist=true</property>
        <!--    3306 portnumber eka-->
        <property name="hibernate.connection.username">savindu</property>
        <property name="hibernate.connection.password">gsavindu</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        create-->
<!--        update-->
        <!--    methana thamai kiyanne tble oto hadenna kiyana eka-->
        <!--    UPDATE wenuwata CREATE dammothin  dapu deata nathiwela nawatha aluthin table eka hadenawa (methanadi wenne table eka drop wena eka)-->
        <!--UPDATE dammama parana data thiyeddi table eka updete wenawa parana data makenne na methanadi-->
    </session-factory>
</hibernate-configuration>